@model IEnumerable<School_Management.Models.StudentModel>

@{
    ViewData["Title"] = "AllStudents";
}


<div class="section mt-3 mr-5">
    <div class="bg-dark p-3 roundCorder">
        <h4>All Students</h4>
    </div>

    @* Stats Cars *@
    <div class="row mt-4">
        <div class="col-md-4 col-sm-6">
            <div class="bg-danger p-4 roundCorder">
                <p># of Students</p>
                <span>5</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 ">
            <div class="bg-info p-4 roundCorder">
                <p># of Teachers</p>
                <span>25</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 ">
            <div class="bg-success p-4 roundCorder">
                <p>Average Student per Grade</p>
                <span>15</span>
            </div>
        </div>
    </div>

    @* Students Tbl *@
    <div class="roundCorder mt-4">
        <p>Student Data</p>
        <hr class="bg-white" />
        <DIV class="table-responsive">
            <table id="dataTable" class="table table-bordered" width:100% cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.StudentID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Gender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Grade)
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.StudentID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Grade)
                            </td>
                            <td>
                                <a class="btn-link" style="cursor:pointer" data-toggle="modal" data-target="#exampleModal">Edit</a> |
                                @Html.ActionLink("Student account data", "StudentAccount", new { id = item.StudentID })
                            </td>
                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.StudentID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Gender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Grade)
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </tfoot>
            </table>
        </DIV>

    </div>
</div>

@* Edit Student Dialog *@
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="CreateStudent">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <label>Personal Information</label>
                    <div>
                        <div class="bg-dark roundCorder">
                            <div class="p-3">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">First Name</label>
                                        <input name="FirstName" class="form-control" /> 
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Last Name</label>
                                        <input name="LastName" class="form-control" /> 
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">PhoneNumber</label>
                                        <input name="PhoneNumber" class="form-control" /> 
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Email</label>
                                        <input name="Email" class="form-control" /> 
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Address</label>
                                        <input name="Address" class="form-control" /> 
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Gender</label>
                                        <select name="Gender" class="form-control">
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <label class="mt-4">Account Information</label>
                    <div>
                        <div class="bg-dark roundCorder">
                            <div class="form-row p-3">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Grade</label>
                                    <select name="Grade" class="form-control">
                                        @for (int i = 0; i <= 12; i++)
                                        {
                                            <option value="i">G-@i</option>

                                        }
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">AcademkicYear</label>
                                    <input name="AcademkicYear" class="form-control" /> 
                                </div>
                                <div class="form-group w-100">
                                    <label for="inputEmail4">Password</label>
                                    <input name="Password" class="form-control" type="password" /> 
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="subjectSubmittion()">Upload</button>
            </div>
        </div>
    </div>
</div>



@* Load datatable css *@
<link href="~/DataTables/DataTables-1.10.23/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
@* Load datatable js *@
@section Scripts{
    <script src="~/DataTables/DataTables-1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="~/DataTables/DataTables-1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}

