@model IEnumerable<School_Management.Models.TeacherModel>

@{
    ViewData["Title"] = "AllTeacher";
}


<div class="section mt-3 mr-5">
    <div class="bg-dark p-3 roundCorder">
        <h4>All Teachers</h4>
    </div>

    @* Stats Cars *@
    <div class="row mt-4">
        <div class="col-md-4 col-sm-6">
            <div class="bg-danger p-4 roundCorder">
                <p># of Teacher</p>
                <span>5</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 ">
            <div class="bg-info p-4 roundCorder">
                <p># of Cources</p>
                <span>25</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 ">
            <div class="bg-success p-4 roundCorder">
                <p>Average Teacher per Cource</p>
                <span>15</span>
            </div>
        </div>
    </div>

    @* Students Tbl *@
    <div class="roundCorder mt-4">
        <p>Student Data</p>
        <hr class="bg-white" />
        <DIV class="table-responsive">
            <table id="dataTable" class="table table-bordered" width:100% cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Names)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>

                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Names)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                <a class="btn-link" style="cursor:pointer" data-toggle="modal" data-target="#exampleModal">Edit</a> |
                                @Html.ActionLink("Teacher account data", "TeacherAccount", new { id = item.Id })
                            </td>
                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Names)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </tfoot>
            </table>
        </DIV>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Teacher</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="CreateTeacher">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <label>Personal Information</label>
                    <div>
                        <div class="bg-dark roundCorder">
                            <div class="p-3">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Names</label>
                                        <input  class="form-control" required />
                                       
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>DOB</label>
                                        <input  type="date" class="form-control" required />
                                       
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>NRC</label>
                                        <input class="form-control" required />
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Email</label>
                                        <input  class="form-control" type="email" required />
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <label class="mt-4">Account Information</label>
                    <div>
                        <div class="bg-dark roundCorder">
                            <div class="p-3">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Qualification</label>
                                        <input  class="form-control" type="file" required />
                                       
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Salary</label>
                                        <input  type="number" class="form-control" required />
                                       
                                    </div>
                                </div>
                                <div class="form-group w-100">
                                    <label>Password</label>
                                    <input class="form-control" type="password" required />
                                    <span class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Proceed To Account" class="btn btn-primary w-100 mt-4" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="subjectSubmittion()">Upload</button>
            </div>
        </div>
    </div>
</div>

@* Load datatable css *@
<link href="~/DataTables/DataTables-1.10.23/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
@* Load datatable js *@
@section Scripts{
    <script src="~/DataTables/DataTables-1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="~/DataTables/DataTables-1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}

